@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

html {
    height: 100%;
    background: #000;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

main {
    background: url(../img/background-first.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
}

.name {
    width: 80%;
    text-align: center;

}

.name h3 {
    margin: 0;
}

h1 {
    font-family: 'Ruslan Display', cursive;
    font-size: 90px;
    margin: 0;
    text-shadow: 3px 3px 5px;
}

#home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.honey {
    width: 359px;
}

.honey h3 {
    padding-left: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    margin: 0;
}

.honey img {
    width: 55%;
}

.description {
    width: 665px;
    text-align: justify;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Marck Script', cursive;
}

.description p {
    padding-right: 10px;
}

.timer {
    color: #FF000CFF;
    width: 100%;
    text-align: center;
}

#bee {
    width: 60px;
    position: absolute;
    top: -100px;
}

#contacts {
    background: url(../img/background-second.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text {
    width: 512px;
    text-align: justify;
}

.text h2 {
    padding: 30px; 
    font-family: 'Marck Script', cursive;
   
}

#address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.map {
    width: 50%;
}

iframe {
    width: 90%;
    height: 350px;
    border: 0;
}

.address {
    width: 512px;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
}

a.scroll-btn {
    position: absolute;
    right: 50%;
    top: 90%;
}

a span {
    box-shadow: -4px 4px 3px 0px #fff;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.txt-context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.txt-context div {
    width: 45%;
    margin-top: 30px;
    font-family: 'Marck Script', cursive;
    text-align: center;
}

.txt-context p {
    text-align: justify;
}

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    bottom: 135px;
    right: 0px;
    position: fixed;    
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #23E816
}

.show {
    display:block;
}

footer {
    background-color: #F60;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2 {
    margin: 0;
    font-family: 'Ruslan Display', cursive;
}

footer img {
    width: 100px;
    height: 50px;
}