@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
html {
    height: 100%;
    background: #000;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

main {
    background: url(../img/background-first.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;s
}

header {
    display: flex;
    flex-wrap: wrap;
}

.name {
    width: 80%;
    text-align: center;

}

h1 {
    font-family: 'Ruslan Display', cursive;
    font-size: 90px;
    margin: 0;
    text-shadow: 3px 3px 5px;
}

#home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.honey {
    width: 359px;
}

.honey h3 {
    padding-left: 10px;
    font-family: 'Marck Script', cursive;
}

.description {
    width: 665px;
    text-align: justify;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Marck Script', cursive;
}

.description p {
    padding-right: 10px;
}

.timer {
    color: #FF000CFF;
    width: 100%;
    text-align: center;
}

#contacts {
    background: url(../img/background-second.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text {
    width: 512px;
    text-align: justify;
}

.text h2 {
    padding: 30px; 
    font-family: 'Marck Script', cursive;
   
}

#address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.map {
    width: 50%;
}

iframe {
    width: 90%;
    height: 350px;
}

.address {
    width: 512px;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
}

footer {
    height: 100px;
    background: #fff;
}

