
#sideNav a {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: darkslategray;
    border-radius: 0 5px 5px 0;
    box-shadow: inset -3px -5px 5px;
}

.navbtn {
    background-color: #CF7B0AFF;
}

.navbtn:hover {
    background-color: #C9C9C9;
    cursor: pointer;
}

a.scroll-btn {
    position: absolute;
    right: 50%;
    top: 90%;
}

a span {
    box-shadow: -4px 4px 3px 0px #fff;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
