@media screen and (max-width: 1023px) {
	html {
		background: url(../img/background-first.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
	body {
		width: : 100%;
	}

	main {
		background: none;
		height: auto;
	}

	#contacts {
		background: none
	}

	#sideNav a {
		width: 150px;
		height: 50px;
		padding-left: 30px;
		font-size: 30px;
	}

	h1 {
		margin-top: 20px;
		font-size: 177px
	}

	.name {
		font-size: 39px;
	}

	.name h3 {
		margin: 0 83px 0 0; 
	}

	.name h2 {
		margin: 0 83px 0 0; 
	}

	#expired {
		font-size: 56px;
		margin: 0 0 0 126px;
	}

	#home-content {
		flex-direction: column-reverse;
		width: 100%;
		margin: 30px 10px 0 10px;
	}

	.description {
		width: 100%;
		font-size: 50px;
	}

	.description h3 {
		text-align: center;
	}

	.honey {
		width: 100%;
		font-size: 30px;
		display: flex;
		align-items: center;
	}
	.honey img {
		width: 30%;
	}

	.honey h3 {
		font-size: 60px;
	}

	.text {
		width: 100%;
		text-align: justify;
		font-size: 40px;
	}

	#autoSlide {
		width: 101%;
	}

	.slideshow-container {
		width: 101%;
	}

	.address {
		width: 100%;
		font-size: 40px;
	}

	.map {
		width: 101%;
	}

	iframe {
		width: 101%;
		height: 700px;
	}

	footer {
		width: 101%;
	}
	
	.circlephone {
		width: 250px;
		height: 250px;
	}

	.circle-fill {
		width: 200px;
		height: 200px;
	}

	.img-circle {
		width: 150px;
		height: 150px;
		bottom: 27px;
		right: 59px;
	}
	.img-circleblock {
		width: 150px;	
		height: 150px;
	}

	.dropdown-content a {
		font-size: 50px;
	}

	.dropdown-content {
		bottom: 220px;
		right: 5px;
	}


	input[type=text],
	input[type=email] {
		font-size: 75px;
	}

	textarea {
		height: 300px;
		font-size: 75px;
	}
}
