@media screen and (max-width: 1163px) {
	.address {
		margin-right: 1%;
	}

	#autoSlide {
		width: 600px;
	}

	iframe {
		height: 243px;
	}
}

@media screen and (max-width: 1023px) {
	html {
		background: url(../img/background-first.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}

	body {
		background: none;
	}

	.first-bg{
		background: none;
		height: fit-content;
	}

	.txt-context {
		flex-direction: column;
	}

	.txt-context div {
		width: 100%;
		margin: 0;
	}

	.timer {
		width: 100%;
		text-align: center;
		margin-left: 11%;
	}

	.second-bg {
		background: none;
	}

	#autoSlide {
		width: 100%;
	}

	.address {
		width: 100%;
		margin: 0;
	}

	iframe {
		height: 420px;
	}

	.top-name {
		width: 85%;
	}

	.top-name h1 {
		font-size: 145px;
	}

	h2{
		font-size: 29px;
	}

	.form-modal-content {
		width: 870px;
	}

	form {
		text-align: center;
	}

	input[type=email] {
		width: 800px;
	}

	input[type=text] {
		width: 800px;
	}

	textarea {
		width: 811px;
	}

	input[type=submit] {
		left: 0;
		width: 200px; 
		height: 50px;
	}

	.circlephone {
		width: 250px;
		height: 250px;
	}

	.circle-fill {
		width: 200px;
		height: 200px;
	}

	.img-circle {
		width: 150px;
		height: 150px;
		bottom: 26px;
		right: 62px
	}

	.img-circleblock {
		width: 150px;
		height: 150px;
	}

	.dropdown-content {
		bottom: 215px;
		width: 400px;
	}

	.dropdown-content a {
		font-size: 45px;
	}