.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.slideshow-container {
    position: static;
    width: 100%;
}

.alldots {
    display: none;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    transition: background-color .6s ease;
    border-radius: 50%;
    background-color: #bbb;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

#autoSlide {
    width: 700px;
}

